{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <div class="container py-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div class="container py-5">
        <p>Здесь будет инфа, но на всю эту красоту нужно чуть больше времени
          Сейчас немного не до этого!
          UPD: Запустил и все некрасиво:)</p>
    </article>
  </div>
{% endblock %}